.home-description{
src: url(/fonts/roboto-medium-webfont.woff2);
font-size: 18px;
font-weight: 500;
color: #070707;
font-family: 'Roboto', sans-serif;
margin: 0 0 35px 0;
}

.home {
	text-align: center;
	padding: 0 0 70px 0;
}

.home-title {
src: url(/fonts/Roboto-Bold.woff2);
font-style:45px;
font-weight: 700;
font-family: 'Roboto', sans-serif;
color: #070707;
margin:45px 0 25px 0 ;
}

.img1{
	width: 100%;
	height: 535px;
	object-fit: cover;
}

@media (max—width:480px){
.home {
text-align:left;
}
.home—title{
	max-width: 250px;
	font-size:32px;
	}
	


.home—description {
font-size: 14px;

}}


